body {
  margin: 0;
  padding: 1vh;
}

input {
  display: block;
  width: 100%;
}

video {
  max-width: 100vw;
  max-height: 70vh;
}

button {
  display: inline-block;
  margin: 5px;
  padding: 5px 8px;
  font-weight: bold;
  border: 2px solid green;
  border-radius: 5px;
  background-color: lightgreen;
  cursor: pointer;
  &.red {
    background-color: lightcoral;
    border-color: red;
  }
  &.blue {
    background-color: lightblue;
    border-color: blue;
  }
  &.big {
    margin: 7px;
    padding: 9px 12px;
  }
  &.small {
    margin: 3px;
    padding: 3px 6px;
  }
}

ul {
  margin: 0.3em 2em;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
